<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>

<div class="container">
    <div class="row" style="margin-top: 10rem;">
        <div class="col"></div>
        <div class="col login">
            <h3 style="text-align: center;">Admin Login</h3>
            <form onsubmit="userLogin()">
                <div class="row">
                    <div class="col form-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" id="username"
                            required>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password"
                            required>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <div class="d-grid gap-2">
                            <input type="submit" class="btn btn-info" value="LOGIN">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<footer>
    <%- include('../partials/footer'); %>
</footer>